/* --------------------------------- */
/* Css Styles                        */
/*---------------------------------- */

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

 body{
    font-family: 'Poppins', sans-serif;
    height: 1500px;
 }

 a:hover{
   color: white;
 }

 p{
   font-family: 'Open Sans', sans-serif;
   color: #fff;
 }

 header{
    position: relative;
    z-index: 2;
    padding: 20px 10px;
 }

 header .buy-link{
    color: #fff;
    font-size: 13px;
    font-weight: 600;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    margin-top: 8px;
 }

 header .buy-link:hover{
    opacity: 0.7;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
 }

 .promo{
    height: 750px;
    background: #F5F5F5;
    background-size: cover;
    position: relative;
    padding: 0 15px;
 }

 .promo:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #21252B;
    z-index: 0;
}

 .promo .promo-content .logo{
    margin: 0 auto;
    display: block;
    max-height: 85px;
    padding: 15px;
 }

 .promo .promo-content{
    text-align: center;
    color: #212E49 !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

  .promo .promo-content h1{
    font-size: 60px;
    font-weight: 700;
    padding:30px 0 12px;
 }

  .promo .promo-content p{
    font-size: 16px;
    font-weight: 300;
    opacity: 0.9;
    line-height: 28px;
 }

 .promo figure img{
     width: 70%;
     border-radius: 20px;
     box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.28);
     -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.28);
     -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.28);
     transition: all ease 0.3s;
     -webkit-transition: all ease 0.3s;
     -moz-transition: all ease 0.3s;
 }

.page-btn{
    background: #fff;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    padding: 0 35px;
    height: 42px;
    display: inline-block;
    font-size: 13px;
    line-height: 43px;
    color: #212E49;
    margin-top: 45px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.07);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.page-btn:hover{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    background: #e36969;
    color: #fff;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.22);
}


.page-btn.color{
    background: #808000;
    color: #fff;
    /*background-image: linear-gradient(45deg, #F08B4E 0%, #EB5463 100%); */
}

/*Content Section */

.content{
    padding-top: 50px;
    padding-bottom: 50px;
}

.content h2{
  font-size: 30px;
  color: #808000;
  font-weight: 700;
  padding:30px 15px 25px 15px;
}

.content figure img{
    width: 100%;
    border-radius: 20px;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}

.content figure img:hover{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.25);
    transform: translate(0,-10px);
}

.content figure figcaption{
    font-size: 15px;
    text-align: center;
    font-weight: 600;
    margin-top: 40px;
    color: #F5F5F5;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
}
.content figure:hover figcaption{
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    color: #fff;
}

footer{
    background: #000;
    height: 150px;
}

footer .social {
    margin-top: 20px;
}

footer .social a{
    color: #fff;
    font-size: 14px;
    margin-right: 20px;
}

footer .social a:hover{
    color: #757575;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
}

footer hr{
    border-top: 1px solid #313131;
    margin-top: 30px;
}

footer p{
    color: #949494;
    font-size: 12.5px;
    margin-top: 30px;
}

footer p a{
    color: #00cdb9;
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
}

footer p a:hover{
    transition: all ease 0.2s;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    color: #fff;
}

@media (max-width: 991px) {
    .demo{
        margin-bottom: 30px;
    }

    br{
        display: none;
    }

}

.light-background{
   background-color: #21252B;
   background-size: cover;
   position: relative;
   padding: 0px 15px 15px 15px;
}

.content figure .card{
  width: 100%;
  height: 300px;
  padding: 25px;
  border-radius: 20px;
  border-color: gray;
  background-color: #21252B;
  font-family: 'Poppins', sans-serif !important;
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.content figure .card:hover{
  transition: all ease 0.3s;
  background-color: #1e2126;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transform: translate(0,-5px);
}

/*Skills Section */

.skill{
  background-color: #363535;
  background-size: cover;
}

.light-background figure .pills{
  width: 100%;
  padding: 15px;
  margin-bottom: 25px;
  border-radius: 100px;
  text-align: center;
  background-color: rgb(214, 211, 211);
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.light-background figure .pills:hover{
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transform: translate(0,0px);
}

/*About Section */
.about{
   background-color: #363535;
   background-size: cover;
   padding: 0px 15px 15px 15px;
}

.about figure img{
  width: 70%;
  height: 100%;
  border-radius: 100px;
  text-align: center;
  background-color: #fff;
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -moz-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  -webkit-box-shadow: 0px 2px 92px 0px rgba(0, 0, 0, 0.18);
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
}

.about figure img:hover{
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  transform: translate(0,0px);
}

/* Typewriter */
#typewriter{
  font-family: 'Roboto Mono', monospace;
  font-size: 25px;
  color: white;
}
